@charset "utf-8";
// Files not starting with _ are consided entrypoints, i.e. they are compiled to .css files
// Partials (files starting with _) can be inclued using @import:
// (import path can include _ but it is not needed)`




@import "../../node_modules/bulma/sass/utilities/_all";

// main color changes
$background: $black;
$body-background-color: $black;
$text: $white-ter;
$link: $turquoise;

// navbar color change
$navbar-dropdown-background-color: $grey-darker;
$navbar-dropdown-border-top: 1px solid $turquoise !default;
$navbar-dropdown-item-hover-color: none;
$navbar-dropdown-item-hover-background-color: $grey-darker;

// table color changes
$table-background-color: $grey-dark;
$table-cell-heading-color: $grey-darker;
$table-row-hover-background-color: $black-ter;

// box
$box-background-color: $grey;
$box-color: $white;
$box-shadow: 0 2px 3px $grey-light, 0 0 0 1px $grey-light;// $red;

@import "../../node_modules/bulma/sass/base/_all";

@import "../../node_modules/bulma/sass/elements/_all";
@import "../../node_modules/bulma/sass/components/_all";
@import "../../node_modules/bulma/sass/grid/_all";
@import "../../node_modules/bulma/sass/layout/_all";




//@import "../../node_modules/bulma/sass/bulma.sass";
//@import "../../node_modules/bulma/sass/base/_all";
//@import "../../node_modules/bulma/sass/elements/_all";
//@import "../../node_modules/bulma/sass/components/_all";
//@import "../../node_modules/bulma/sass/grid/_all";
//@import "../../node_modules/bulma/sass/layout/_all";
//@import "../../node_modules/metrics-graphics/dist/metricsgraphics";